*{
    font-family: sans-serif;
    box-sizing: border-box;
}
#form{
    
        width: 100%;
        height: 100vh;
        position: relative;
        background: linear-gradient(to right, violet, lightblue);
        display: flex;
        align-items: center;
        justify-content: center;
}
#form label{
    width: 100px;
    display: inline-block;
    margin-right: 80px;
    margin-bottom: 25px;
}
#form{
    padding: 20px;
    margin: 20px;
    background-color: rgb(201, 238, 225);
    border-radius: 10px;
    
}
.frame{
    padding: 20px;
    margin: 20px;
    background: lightblue;
    position: relative;
    display: inline-block;
    border: solid 2px rgb(39, 38, 38);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 20px black;
}
#form .radio{
    
    display: inline-block;
    margin-right: 0;
}
@media screen and (max-width:480px) {

    .main{
        flex-basis: 50%;
       }
    #form .radio{
        margin-right: 0;
    }
    #form label{
        width: 50px;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    #form .reset{
       margin-bottom: 3px;
    }
        
    }
@media screen and (max-width:570px) {
    
        .main{
            flex-basis: 50%;
           }
        #form .radio{
            margin-right: 0;
        }
        #form label{
            width: 50px;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
        }
        #form .reset{
           margin-bottom: 3px;
        }
            
        }
